<!-- Bootstrap Modal Popup -->
<div class="modal fade" id="{{modal.id}}" tabindex="-1" role="dialog" aria-labelledby="{{modal.label}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="{{modal.label}}">{{modal.title}}</h4>
            </div>
            <div class="modal-body">
              {{#is modal.contentType "markdown"}}
                {{md modal.content}}
              {{/is}}

              {{#is modal.contentType "gist"}}
                {{gist modal.content}}
              {{/is}}

              {{#is modal.contentType "raw"}}
                {{include modal.content}}
              {{/is}}

              {{#is modal.contentType "other"}}
                {{embed modal.content}}
              {{/is}}

              {{#is modal.contentType "include"}}
                {{include modal.content}}
              {{/is}}


            </div>
            <div class="modal-footer">
                {{#is modal.hasDefaultButton true}}
                  <button type="button" class="btn btn-default" data-dismiss="modal">{{modal.defaultButtonLabel}}</button>
                {{/is}}
                {{#is modal.hasPrimaryButton true}}
                  <button type="button" class="btn btn-primary" data-dismiss="modal">{{modal.primaryButtonLabel}}</button>
                {{/is}}
            </div>
        </div>
    </div>
</div>
