<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{title}} | {{site.title}}</title>
      <meta name="description" content="{{description}}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Language" content="en">

      <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">
      <link href="{{assets}}/css/font-awesome.min.css" rel="stylesheet">
      <!-- build:css {{assets}}/css/custom/style.min.css -->
      <link href="{{assets}}/css/custom/theme.css" rel="stylesheet">
      <!-- /build -->
      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

      <!-- build:js {{assets}}/js/custom/modernizr/modernizr-custom.js -->
      <script src="{{assets}}/js/custom/modernizr/modernizr-dev.js"></script>
      <!-- /build -->

  </head>

  <body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
      your browser</a> to improve your experience.</p>
    <![endif]-->

    {{> navbar-fixed-top }}

    {{> body }}

    {{> footer }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{assets}}/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{assets}}/js/bootstrap.min.js"></script>

    {{! TODO: Use RequireJS }}
    {{! Load only helper scripts in the index page.
    These scripts are minified with grunt-uglify and replaced by grunt-processhtml}}
    {{#is basename "index"}}
      <!-- build:js {{assets}}/js/custom/helpers.min.js -->
        <!-- Load the youtube thumbnail script -->
        <script src="{{assets}}/js/custom/embed-thumbnail.js"></script>
        <!-- Get current lib src version -->
        <script src="{{assets}}/js/custom/version-finder.js"></script>
      <!-- /build -->
    {{/is}}

    {{> analytics }}

  </body>
</html>
